@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

}

@media (min-width: 1050px) {
    .the-body {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: large;
      line-height: 1.42857143;
      color: #333;
      background-color: #fff;
  }
}

@media (min-width: 992px){
  .cid-rGtSrU5miX .blue-block {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(20%, 20%);
}

}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .footer{
    text-align: none;
    font-size: x-small;
    padding: 0;
    margin-top: 15px;
    text-indent: 0;
  }
  .footer p{
    font-size: x-small;
    padding: 0;
    text-indent: 0;
    text-align: center;
  }
}

